#title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
#icerik{ 
	width:960px;
	margin:0 auto;}
#banner{ 
	width:960px;
	height:60px;
	background-color:#f0f0f0;}
#logo{
	padding-top:7px;
	height:50px;
	padding-left:28px;
	float:left;}
#baslik{
	margin-top:5px;
}
#giris{
	width:100px;
	float:left;	
	padding-left:200px;	
	padding-top:16px;

}

.enuygun{
	list-style-type:none;
	float:left;
	color:black;
	padding-left:260px;
	padding-top:123px;
	font-family: Myriad Pro;
	font-weight: regular;
	font-size:30px;

	
}
#hosgeldin{

	width:30px;
	height:5px;
	float:left;
	margin-left:160px;
	margin-bottom:30px;
}
#hos{
	color:#820000;
}
#ara{
	float:left;
	margin:0 auto;
	margin-left:115px;
	
}
#textbox{
	width:100px;
	height:150px;
	float:left;
	padding-left:280px;
	margin-top:10px;
	
	
}

#buton{
	width:49px;
	height:43px;
	
	

	
}
#button{
	width:50px;
	height:50px;
	padding-left:600px;
	padding-bottom:200px;}
.basliklar{	
	list-style-type:none;
	float:left;
	color:#820000;
	padding-left:80px;
	padding-top:18px;
	font-family: Myriad Pro;
}
.basliklar1{	
	list-style-type:none;
	float:left;
	color:#820000;
	padding-left:80px;
	padding-top:18px;
	font-family: Myriad Pro;
}

#arama{
	
	width:960px;
	height:350px;
	float:left;
	background-image:url(../icon/carlg.png);
	background-repeat:no-repeat;
	background-position:absolute;
	background-size:108%;

		
}
#yazi{
	
	padding-left:430px;
}


/* #kategori-sol{
	width:316px;
	height:416px;
	float:left;
	background-image:url(../icon/arkaplan.png);
	border-style: solid;
	border-width: 2px;
	border-color:#4e4e4e;
	} */
	.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#kategori{
	margin-top:25px;
	float:left;
}
.kategori-bas{
	
	padding-left:30px;
	color:#981010;
	list-style-type:none;
	font-family: Myriad Pro;
	font-size:21px;

}
.kategori-ic{
	list-style-type:none;
	padding-top:20px;
	padding-left:30px;
	font-family: Myriad Pro;
}
#cizgi{
	
	 width:240px;
	 height:2px;
	background-color:grey;	
	float:left;
	
	
}
#kategori-sag{
	width:958px;
	height:416px;
	float:left;
	
	background-image:url(../icon/arkaplan.png);
	border-style: solid;
	
	border-width: 1px;
	border-color:#4e4e4e;}
	.acmabuton{
		float:left;
	}
	.opennav{
		width:40px;
		height:40px;
	}

.enpopuler{

	width:900px;
	float:left;
	list-style-type:none;
	padding-left:390px;
	padding-bottom:20px;
	margin-top:20px;
	color:#981010;
	font-family: Myriad Pro;
	font-size:21px;}
	.populerilanlar{
		float:left;
		padding-left:7px;
		width:150px;
		height:120px;
	}
	.car1{
		float:left;
		padding-left:15px;
		width:120px;
		height:80px;
		 opacity: 1;
        filter:alpha(opacity=100); 		
	}
	.car1:hover{
		
		opacity: 0.4;
        filter:alpha(opacity=40);
	}

	.cars{
	float:left;
	padding-left:39px;
	font-family:myriad pro;
	}

	.carsalt{
	float:left;
	padding-left:49px;
	font-family:myriad pro; }

		.populerilanlar2{ 
	
	float:left;
	width:150px;
	padding-left:7px;
	height:120px;}
	.car2{		
		float:left;
		padding-left:15px;
		width:130px;
		height:80px;	
		opacity: 1;
        filter:alpha(opacity=100); 	}
		.car2:hover{
			opacity: 0.4;
        filter:alpha(opacity=40);
		}
	.cars2{	
	float:left;
	padding-left:39px;
	font-family:myriad pro;}
	.carsalt2{
		
	float:left;
	padding-left:49px;
	font-family:myriad pro;}
	
	.populerilanlar3{ 
	
	float:left;
	width:150px;
	height:90px;
	padding-left:7px;}
	.car3{
		
		float:left;
		padding-left:15px;
		width:130px;
		height:80px;
		
	}
	.car3:hover{
			opacity: 0.4;
        filter:alpha(opacity=40);
		}
	.cars3{
	
	float:left;
	padding-left:39px;
	font-family:myriad pro;
	opacity: 1;
        filter:alpha(opacity=100); 	}
		
	.carsalt3{
		
	float:left;
	padding-left:49px;
	font-family:myriad pro;}
	
#ortak{
	
	width:958px;
	height:156px;
	float:left;
	border-color:#4e4e4e;
	border-style: solid;
	border-width:1px;
	background-image:url(../icon/arkaplan.png);
	border-top:0px;
}

.isortagi{
	width:900px;
	color:#981010;
	font-family:myriad pro;
	list-style-type:none;
	padding-left:400px;
	margin-top:20px;
	font-size:21px;
	
}


.ok{
	float:left;
	margin-top:34px;
	padding-left:10px;}
.ok2{
	float:left;
	margin-top:27px;
	}	

#cerceve{
	width:145px;
	height:70px;
	float:left;
	border-right-style:solid;
	border-right-color:#4e4e4e;
	

}
/* .sahibinden{
	width:100px;
	height:60px;
	float:left;
	padding-left:25px;
	padding-top:7px;
} */
.mySlides{
	width:150px;
	height:60px;
	padding-left:375px;
	padding-top:7px;
}
#map {
        height: 350px;
		width:958px;
		margin-top:45px;
		z
      }
	  
#footer{
	width:958px;
	height:240px;
	float:left;
	border-color:#4e4e4e;
	border-style: solid;
	border-width:1px;
	border-top-width:0px;
	background-image:url(../icon/footer.png);
}
#kurumsal{
	margin-top:10px;
	float:left;
	
}
.kurumsal-bas{
	
	padding-left:30px;
	list-style-type:none;
	font-family: Myriad Pro;
	font-size:21px;
	font-weight: bold;
}
.kurumsal-ic{
	list-style-type:none;
	padding-top:10px;
	padding-left:30px;
	font-family: Myriad Pro;
	opacity: 1;
        filter:alpha(opacity=100);
	
}
.kurumsal-ic:hover{
	opacity: 0.4;
filter:alpha(opacity=40);}
.ikon{
	width:22px;
	height:20px;
	padding-left:30px;
	float:left;
}

#fb{
	list-style-image:url(../icon/facebook.png);
	font-family: Myriad Pro;
	padding-left:60px;
	}
#twitter{
	list-style-image:url(../icon/twitter.png);
	font-family: Myriad Pro;
	padding-left:60px;
	}
#linkedin{
	list-style-image:url(../icon/linkedin.png);
	font-family: Myriad Pro;
	padding-left:60px;
	}
#insta{
	list-style-image:url(../icon/instagram.png);
	font-family: Myriad Pro;
	padding-left:60px;
	}
#youtube{
	list-style-image:url(../icon/youtube.png);
	font-family: Myriad Pro;
	padding-left:60px;
	}
#google{
	list-style-image:url(../icon/googleplus.png);
	font-family: Myriad Pro;
	padding-left:60px;
	}

.aracar{margin-top:70px;
padding-left:60px;}
.yazi{
	float:left;	
	font-family: Myriad Pro;
	padding-left:3px;}

.wrapper {
    background-color:#CCC;
    height:100px;
}
.yukarikaydir {
    display:none;
    background-color:#CCFF00;
    padding:10px;
    position:fixed;
    bottom:10px;
    right:10px;
    text-decoration:none;
    color:#000;
}







